
/.idea
/public/.htaccess
/application/configs/config.ini
/atlassian-ide-plugin.xml
/data/downloads
/data/export
/public/images/flags/zh_CN.gif
/public/images/flags/zh_TW.gif
/public/images/flags/cs.gif
/public/images/flags/da_DK.gif
/public/images/flags/de_IN.gif
/public/images/flags/fr.gif
/public/images/flags/hu_HU.gif
/public/images/flags/nb_NO.gif
/public/images/flags/th_TH.gif
dist
/public/images/otrance-flags/*.db
