fieldset table {
    margin-left:66px;
    padding:12px;
}

.text {
    width: 250px;
}
#send {
    margin:6px 0 0 2px;
}
fieldset {
    border: 1px solid #DDDDDD;
    color: #256777;
    margin: 0 0 12px;
    padding: 5px;
}

#login table.bdr {
    margin: 0px auto;
}

#login .bdr td {
    border: 1px solid #ddd;
    vertical-align: middle;
}

#login {
    width: auto;
    margin: 0px auto;
    padding: 0px 18px;
    text-align: center;
}


