* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    text-align: left;
    overflow: auto;
    height: 101%;
}

body {
    min-width: 782px;
    min-height: 100%;
    font-size: 62.5%;
    font-family: Verdana, Helvetica, Sans-Serif;
    font-weight: normal;
    color:#253D04;
    text-align: left;
}
#page-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    display:none;
}
.hidden {
    display:none;
}
h1 {
    margin-bottom: 20px;
    font-size: 2.4em;
    font-weight: normal;
    color: #425D1C;
}

h2 {
    margin-bottom: 0.92em;
    padding: 4px 0px 3px 0px;
    font-size: 2.2em;
    font-weight: normal;
    color: #425D1C;
    border-bottom: 1px solid #c7c7c7;
}

#version a h2 {
    padding:1px 0 12px 0;
    border:0;
    margin:0;
}
#version a img {
    padding: 0 0 12px 0;
}

h4 {
    margin-bottom: 0.8em;
    font-size: 1.5em;
    color: #425D1C;
}

p {
    margin-bottom: 1.5em;
    padding-left: 4px;
    font-size: 1.2em;
    line-height: 1.5em;
}

a {
    color: #253D04;
    text-decoration: none;
}

a:hover {
    color: #e87b00;
    text-decoration: none;
}

img {
    display: inline;
}

#container {
    float: left;
    min-width: 100%;
    width: auto;
    padding-bottom: 10px;
    border-top: 5px solid #6E9E2D;
    background: #fff url(pics/bg-body.gif) repeat-x 0 0;
}

#header {
    width: auto;
    margin: 0px auto;
    padding: 0px 18px;
    text-align: center;
}

#sidebar {
    float: left;
    min-width: 190px;
    width: 19em;
}

#content {
    clear: right;
    width: auto;
    margin-left: 19em;
    padding: 0px 18px;
}

* html #content {
    float: left;
    margin-left: 0px;
}

*+html #content {
    float: left;
    margin-left: 0px;
}

*+html #content h2 {
    min-width: 100%;
}

#fullcontent {
    width: auto;
    margin: 0px auto;
    padding: 0px 18px;
    text-align: center;
}

#footer {
    clear: both;
    width: auto;
    margin: 0px auto;
    text-align: center;
}

#footer h4 {
    margin: 0px;
}

/*******/ /*Menu*/ /*******/
ul.menu {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    list-style: none;
}

ul.menu li {
    border-bottom: 1px solid #ddd;
}

ul.menu a {
    padding: 0.35em 0.85em;
    font-size: 1.2em;
    line-height: 2.0em;
    outline: none;
    display: block;
}

ul.menu img { padding:2px 8px 0 0;float:left;}
#tabs ul li a img { padding:0px 6px 0px 0px;float:left;}

ul.menu a:hover {
    background: #eee;
}

ul.menu li.active {
    border-bottom: 1px solid #256777;
}

ul.menu li.active a,ul.menu li.active a:hover {
    font-weight: bold;
    color: #e87b00;
    background: transparent;
}

/******/ /*Lists*/ /******/
ul {
    margin-bottom: 1.5em;
    padding-left: 18px;
    font-size: 1.2em;
    line-height: 1.5em;
    list-style-type: none;
}

/************/ /*Formbuttons*/ /************/
a.Formbutton {
    display: inline-block;
    width: auto;
    height: 16px;
    margin: 0px 6px 20px 0px;
    padding: 3px 6px;
    font: 13px verdana, arial, sans-serif;
    color: #e87b00;
    border: 1px solid #ddd;
    background: url(pics/bg-buttons.gif) repeat-x;
    white-space: nowrap;
    text-decoration: none;
}

button.Formbutton {
    width: auto;
    height: 24px;
    /* margin: 0px 6px 20px 0px; */
    padding: 0px 6px;
    font: 13px verdana, arial, sans-serif;
    color: #e87b00;
    border: 1px solid #ddd;
    background: url(pics/bg-buttons.gif) repeat-x;
    vertical-align: top;
    overflow: visible;
    white-space: nowrap;
    cursor: pointer;
}

input.Formbutton {
    width: auto;
    height: 24px;
    margin: 0px 6px 20px 0px;
    padding: 0px 6px;
    font: 13px verdana, arial, sans-serif;
    color: #e87b00;
    border: 1px solid #ddd;
    background: url(pics/bg-buttons.gif) repeat-x;
    vertical-align: top;
    overflow: visible;
    white-space: nowrap;
    cursor: pointer;
}

ul.Formbutton {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    list-style: none;
}

ul.Formbutton li {
    display: inline;
}

select.Formbutton {
    width: auto;
    margin: 0px 6px 0px 0px;
}

td .Formbutton {
    margin: 0px 6px 0px 0px;
}
td a {
    font-size:11px;
}
th .Formbutton {
    margin: 6px;
}
/*Firefox , Safari , not IE8*/
#html#body,a.Formbutton {
    margin: 0px 6px 1.5em 0px;
}

/*IE7*/
*+html a.Formbutton {
    margin: 0px 6px 20px 0px;
}

/*Firefox , Safari , not IE8*/
#html#body,button.Formbutton {
/*    margin: 0px 6px 1.5em 0px; */
    padding: 0px 3px 2px 3px;
}

/*IE4 , IE5 , IE5.5 , IE6*/
* html button.Formbutton {
    padding: 0px 5px;
}

/*IE7*/
*+html button.Formbutton {
    margin: 0px 6px 20px 0px;
    padding: 0px 5px;
}

/*Firefox , Safari , not IE8*/
#html#body,input.Formbutton {
    margin: 0px 6px 1.5em 0px;
    padding: 0px 3px 2px 3px;
}

/*IE4 , IE5 , IE5.5 , IE6*/
* html input.Formbutton {
    padding: 0px 5px;
}

/*IE7*/
*+html input.Formbutton {
    margin: 0px 6px 20px 0px;
    padding: 0px 5px;
}

.Formbutton img {
    margin: 0px 2px 0px 2px;
    padding: 0px 0px 3px 0px;
    border: 0px;
    vertical-align: middle;
    display: inline;
}

button.Formbutton img {
    padding: 0px 0px 1px 0px;
}

/*IE4 , IE5 , IE5.5 , IE6*/
* html .Formbutton img {
    padding: 0px;
}

/*IE7*/
*+html .Formbutton img {
    padding: 0px;
}

a.Formbutton:hover,button.Formbutton:hover,input.Formbutton:hover {
    color: #256777 !important;
}

.Formbutton:disabled {
    color: #888 !important;
    cursor: default;
}

#version {
    font-size: 1.1em;
    color: #4E5665;
    text-align: center;
}

#version a:hover {
    color: #4E5665;
}

#menu {
    margin: 1px 0px 23px 0px;
}

a.ul {
    text-decoration: underline;
}

.small {
    font-size: 11px !important;
}

.ssmall {
    font-size: 10px !important;
}

.vmiddle {
    vertical-align: middle;
}
.success {
    color: green;
    font-weight: bold;
}

.error {
    color: #E87B00;
    font-weight: bold;
}
.ok {
    color: green;
    font-weight: bold;
}

.inputError {
    border: 2px solid #E87B00 !important;
}
.explain {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.explain:hover {
    cursor: help;
}

.active_db {
    font-weight: bold;
    border-bottom: 1px dotted;
    color: #9AA2B1;
}

table.bdr,.bdr,table.xdebug-error {
    border: 1px solid #ddd !important;
}

table.more-padding tr td {
    padding:  4px 8px;
}

#fullcontent table.bdr, #fullcontent table.xdebug-error {
    margin: 0px auto;
}

table td {
    text-align: left;
    vertical-align: middle;
    padding: 0px 6px;
}

/* line height of table on analyze page at import:
 fix height for not flickering table when loading ajax-requets*/
.importLineHeight {
    height: 26px;
}

table th {
    padding: 4px 6px;
}

/*Tabellen */
table tr.row-even {
    background: #FFF;
}

table tr.row-odd {
    background: #F6FAF4;
}

table tr.row-even  a,table tr.row-odd a,table tr.row-highlight a {
    margin: 0px 3px 0px 0px;
}

table tr.row-highlight {
    background: #F9F3ED;
    color: #000;
}

table tr.row-highlight a:hover {
    color: #E87B00;
}

table td.treffer {
    background: #000;
}

table.border {
    border: 1px solid #738C88;
}

table tr.thead th,table tr.thead td, table.xdebug-error tr th {
    background: url(pics/bg-buttons.gif) repeat-x;
    border: 1px solid #ddd;
    color: #425D1C;
    vertical-align:middle;
}

#fileTree {
    vertical-align: top;
}

td a.Formbutton,td button.Formbutton,td input.Formbutton {
    float: none;
    margin: 0px 6px 0px 0px;
    display: inline-block;
}

input.Formtext {
    background: url(pics/bg-buttons.gif) repeat-x;
    float: left;
    width: auto;
    margin: 2px 6px 0px 0px;
    padding: 1px 2px;
    border: 1px solid #ddd;
    overflow: hidden;
    cursor: text;
}

.textarea-edit {
    width: 400px;
    background: #FFF;
    border: 1px solid #ddd;
    overflow: auto;
    font: 12px/ 1.2 "Courier New", Courier, monospace;
}

#content textarea.hta_content {
    border: 0px;
}

input.radio,input.checkbox {
    background-color: transparent;
}

/* margins and paddings for input elements */
.radio,.checkbox,.text,.select,.margin {
    margin: 2px 4px 2px 4px;
}

.noleftmargin {
    margin-left: 0px !important;
}

/* options in select lists */
option {
    padding: 0px 6px 0 6px;
    border-bottom: 1px solid #eee;
}

/* save button at left site in configuration screen */
.save-button {
    float: left;
    padding-top: 12px;
}

/* Colors for Formelements */
input.text,input.small {
    padding: 1px 2px;
    border: 1px solid #256777;
    background: #fff;
}

input.text:disabled {
    border-color: #cccccc;
}

select {
    padding: 1px;
    border: 1px solid #7F9DB9;
    background: #FFF;
}

textarea {
    background: #EEE;
    border: 1px solid #CCC;
    padding: 6px;
}

.center {
    margin: 0px auto;
    text-align: center;
}

.left {
    text-align: left;
}

.floatLeft {
    float:left;
}
.right {
    text-align: right;
}

.middle {
    vertical-align: middle;
}

.inputsize-middle {
    width: 90px;
}

.nowrap {
    white-space: nowrap;
}

.nodisplay {
    display: none;
}

/* Installation */
#fullcontent .bdr td, #fullcontent .xdebug-error td {
    border: 1px solid #ddd;
    vertical-align: middle;
}

#close_button {
    position: absolute;
    width: 100px;
    left: 230px;
    bottom: 4px;
}

.paginationPages {
    float: right;
    font-size: 13px;
    margin-top: 3px;
    width: 88%;
}
#logout {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 20px;
    width:300px;
    vertical-align: middle;
}
#icon {
    position: relative;
    float:right;
    padding:3px 2px 0 0;
    margin:0;
}
#loggedin-user {
    position:relative;
    top:2px;
    padding: 0;
    margin: 0;
    float:right;
}

/* used for invisble elements */
.invisible {
    display:none;
}

.greenBar {
    height:14px;
    background:#4FD352;
    float:left;
}
.redBar {
    height:14px;
    background:#DA2410;
    float:left;
}

label {
    cursor: pointer;
}
.width300 {
    width:300px;
}

#importData {
    font: 11px/ 1.2 "Courier New", Courier, monospace;
}
.code {
    font: 11px/ 1.2 "Courier New", Courier, monospace;
}
/** File browser styles **/
#treeBrowser {
    float:left;
    margin-right:20px;
}
#treeBrowser table {
    height:500px;
    width:250px;
}
#treeBrowser .thead th {
    height:14px;
}
#fileContent {
    vertical-align: top;
    float:left;
}
.clear {
    clear:both;
}

#importInfo {
    position: fixed;
    top:38px;
    right:18px;
    width:200px;
    height:124px;
    background-color:#ffff00;
    border:1px solid #CCC;
    /*opacity:0.8;*/
    padding:4px;
}

#importInfo .headline {
    font-size: 1.5em;
    font-weight:bold;
    color: #256777;
}
pre.xdebug-var-dump {
    font-size: 1.4em;
    padding:5px;
    border: 1px solid #DDDDDD;
    border-radius:4px;
    background:url("pics/bg-buttons.gif") repeat-x scroll 0 0 #FFFFFF;
    margin:20px;
}
#large_preview {
    display:block;
    text-align:center;
    line-height:15px;
}

.flag {
    border:1px solid #6E9E2D;
}